* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./assets/imageBackground.gif");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.dark-cat {
    position: absolute;
}

.dark-cat img {
    width: 200px;
}

.moon {
    margin-top: 100px;
    margin-left: 40px;
    position: fixed;
}

.moon img {
    width: 200px;
}

.container {
    width: 100%;
    height: 80%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.center-container {
    display: flex;
    flex-direction: column;
}

.name img {
    width: 600px;
    margin-bottom: 30px;
}

.field {
    background-color: white;
    opacity: 30%;
    height: 75px;
    width: 600px;
    
    border-radius: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cat img {
    position: absolute;
    margin-bottom: 50px;
    margin-right: 200px;
    height: 300px;
}

footer {
    margin: 0px 0px 12px 12px;
    position: absolute;
    bottom: 0;
}

footer h2 {
    color: white;
    opacity: 50%;
    z-index: 100;
    font-family: 'Common Pixel', sans-serif;
}
